{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- festival.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 h-100">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'media/homepage-images/eid.jpg' %}" width="100%"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}                                
                            </div>
                            <a href="{% url 'details_post' post.slug %}" class="post-link">
                                <h2 class="card-title text-center">{{ post.title }}</h2>
                                <p class="card-text text-align:justify">{{post.excerpt}}</p>
                            </a>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-align:left"><strong>When this Festival is Celebrated: </strong> <span>{{ post.best_time }}</span></li>                                
                            </ul>

                            <hr />
                            <div class="card-footer">
                                <span>Author: {{ post.author }} | </span>
                                <span>{{ post.created_on}} | </span>
                                <span><i class="fa-solid fa-thumbs-up"></i> {{ post.number_of_likes }} </span>
                                <span class="text-secondary"> | <i class="far fa-comments"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">PREV &laquo;</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
Copyright 2024 Jyoti Hambir
{% endblock copyright %}